# Your GitHub workflow file under .github/workflows/
# Trigger the action on push to main
on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  actions: read
  pages: write
  id-token: write

jobs:
  docfx:
    uses: PaulTrampert/github-workflows/.github/workflows/dotnet-publish-docs.yml@main
